@keyframes MoveUpDown {
  0% {
    bottom: 0;
    opacity: 0;
  }
  
  50% {
    opacity: 1;
  }

  100% {
    bottom: 75vh;
    opacity: 0;
  }
}

@keyframes spin { 
  100% {
    transform:rotate(360deg); 
    -webkit-transform: rotate(360deg); 
  } 
}

.grid {
  display: grid;
  grid-column-gap: 6.67%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 40px [start] auto [end-title] 80px [board] 400px [controls] auto [end] 100px;
  width: 100%;
}

.main-container {
  display: flex;
  align-items: start;
  overflow: hidden;
}

.main-container-start canvas,
.main-container-start .score {
  visibility: hidden;
}

.header {
  height: 90px;
  display: block;
  margin: 0 auto;
  width: 100%;
}

body.tetris {
  background-color: black;
  position: relative;
  display: block;
  margin: 0 auto;
}

body.scroll-disabled {
  overflow: hidden;
  position: relative;
} 

.tetris-board {
  grid-column: 1/-1;
  grid-row: board/controls;
  transform: translate(0, 0);
  margin: 0 auto;
  display: block;
  border: 1px solid #3c76c3;
  background: linear-gradient(#0000, #000);
}

.controls-wrapper {
  grid-column: 1/-1;
  grid-row: controls/end;
  width: calc(100% - 80px);
  transform: translate(35px, 20px);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
}

.tetris-bk {
  display: flex;
  grid-column: 1/-1;
  grid-row: board/controls;
  align-items: flex-end;
  z-index: -1;
  width: 100%;
  position: relative;
}

.tetris-bk-desktop {
  display: none;
}

.tetris-bk-mobile {
  transform: translate(-25vw, 26%);
  position: absolute;
  width: calc(100% + 50vw);
}

.cta-start-game-hide {
  display: none;
}
  
.cursor img {
  width: 100%;
}

.controls-wrapper button {
  cursor: pointer;
  pointer-events: all;
}

.cursor {
  width: 50%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.cursor-horizontal {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.cursor button {
  background-color: black;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
  position: relative;
  display: flex;
  width: 40px;
  height: 48px;
}

.cursor-down img {
  transform: rotate(180deg) translate(1px, 1px);
  margin: 0;
  width: 100%;
}

button.cursor-right  {
  transform: rotate(90deg);
}

button.cursor-left  {
  transform: translate(0, -2px) rotate(-90deg);
}

button.cursor-next {
  background-color: black;
  border-radius: 200px;
  width: 90px;
  height: 90px;
  padding: 0;
  margin: 10px 5px;
}

.cursor-next img {
  margin: 0;
  width: 100%;
}

.cursor-next {
  margin: 0;
  width: 100%;
} 

.rocket {
  grid-row: controls;
  grid-column: 4/-1;
  width: 63px;
  height: 95px;
  position: relative;
  transform: translate(0, -115px);
}

.rocket img {
  animation: MoveUpDown 18s ease infinite, fadeInAnimation ease 8s;
  position: absolute;
  left: 0;
  bottom: 0;
  animation-fill-mode: forwards;
}

.satellite {
  grid-row: board;
  grid-column: 1/-1;
  width: 112px;
  height: 75px;
  position: relative;
  transform: translate(-10px, -80px);
  display: block;
  padding: 10px 0;
}

.satellite img {
  position: absolute;
  top: 75%;
  left: 50%;
  width: 112px;
  height: 75px;
  margin:-60px 0 0 -60px;
  -webkit-animation:spin 30s linear infinite;
  -moz-animation:spin 30s linear infinite;
  animation:spin 30s linear infinite;
}

.tetris__main-content {
  font-family: "FuturaBT-Book","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  color: white;
  grid-column: 1/-1;
  grid-row: start/end-title;
  margin: 0 40px;
}

.tetris__main-content--title {
  font-weight: normal;
  line-height: 1.1;
  font-family: "FuturaBT-Book","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  font-size: 40px;
  margin: 0 0 30px 0;
  font-weight: bold;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
}

.tetris__main-content--subtitle {
  font-weight: normal;
  line-height: 1.1;
  font-family: "FuturaBT-Book","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-transform: capitalize;
  font-style: italic;
}

.tetris__main-content--text {
  font-weight: normal;
  line-height: 1.7;
  font-family: "Helvetica Neue","HelveticaNeue-Light","Helvetica Neue Light",Helvetica,Arial,"Lucida Grande",sans-serif;
  font-size: 18px;
  margin: 0 0 10px 0;
  position: relative;
}

.tetris__main-content--text a {
  color: #FFF;
  font-style: italic;
  font-weight: bold;
  display: block;
  margin: 20px 0 0 0;
  width: fit-content;
}

/*  Toggle Switch  */

.toggle-switch {
  cursor: pointer;
  display: block;
  font-family: "Helvetica Neue","HelveticaNeue-Light","Helvetica Neue Light",Helvetica,Arial,"Lucida Grande",sans-serif;
  font-size: 12px;
  font-weight: normal;
  height: 18px;
  line-height: 1.7;
  overflow: visible;
  padding: 0;
  position: relative;
  transform: translate(0, 20px);
  width: 40px;
  margin: 0 auto;
}

.toggle-switch span span {
  display: none;
}

.toggle-switch * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.toggle-switch label,
.toggle-switch > span {
  line-height: 20px;
  height: 20px;
  vertical-align: middle;
}

.toggle-switch input:focus ~ a,
.toggle-switch input:focus + label {
  outline: none;
}

.toggle-switch label {
  position: relative;
  z-index: 3;
  display: block;
  width: 100%;
}

.toggle-switch input {
  position: absolute;
  opacity: 0;
  z-index: 5;
}

.toggle-switch > span {
  position: absolute;
  left: -50px;
  width: 100%;
  margin: 0;
  text-align: left;
  white-space: nowrap;
}

.toggle-switch > span span {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  display: block;
  width: 50%;
  text-align: left;
  font-size: 0.9em;
  width: 100%;
  left: 45%;
  opacity: 0;
}

.toggle-switch a {
  position: absolute;
  right: 50%;
  z-index: 4;
  display: block;
  height: 100%;
  padding: 0;
  left: 2px;
  width: 18px;
  background-color: #fff;
  border: 1px solid #CCC;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.toggle-switch > span span:first-of-type {
  color: #FFF;
  opacity: 1;
  left: 45%;
}

.toggle-switch > span:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50px;
  top: -2px;
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 30px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.toggle-switch input:checked ~ a {
  border-color: #fff;
  left: 100%;
  margin-left: -8px;
  box-shadow: inset 0 0 0 30px #000;
}

.toggle-switch input:checked ~ span:before {
  border-color: #FFF;
  box-shadow: inset 0 0 0 30px #FFF;
}

.toggle-switch input:checked ~ span span:first-of-type {
  opacity: 0;
}

.toggle-switch input:checked ~ span span:last-of-type {
  opacity: 1;
  color: #000;
}

.toggle-switch.xlarge {
  width: 140px;
  height: 36px;
  transform: translate(0, 55px);
}

.toggle-switch.xlarge a {
  width: 36px;
}

.toggle-switch.xlarge > span {
  height: 38px;
  line-height: 37px;
}

.toggle-switch.xlarge input:checked ~ a {
  left: calc(100% - 29px);
}

.toggle-switch.xlarge > span span {
  font-size: 1.4em;
}

.toggle-switch.xlarge > span span:first-of-type {
  left: 67%;
}

.score {
  align-items: center;
  border: 1px solid #3c76c3;
  box-sizing: border-box;
  color: white;
  display: flex;
  flex-direction: column;
  font-family: "FuturaBT-Book","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  grid-column: 4/-1;
  grid-row: board;
  justify-content: center;
  overflow: hidden;
  height: 80px;
  transform: translate(15px, 0);
  width: 50px;
}

.score > span {
  border: 1px solid #3c76c3;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: .5px;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
  padding: 5px;
  height: 20px;
  box-sizing: content-box;
}

.score > span + span {
  color: #4dffff;
  font-size: 18px;
  line-height: 1px;
  margin: 10px 0;
  border: none;
}

@media (min-width: 1140px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 2.19%;
    grid-template-rows: [start] 80px [board] auto  [controls] 335px [end];
    margin: 0 auto;
    max-width: 1280px;
  }

  .tetris-bk {
    display: block;
    grid-column: 1/-1;
    grid-row: start/end;
    transform: translate(0, 0);
  }

  .tetris-bk img {
    width: 100%;
  }

  .tetris-bk-desktop {
    display: block;
  }

  .tetris-bk-mobile {
    display: none;
  }
  
  .controls-wrapper {
    grid-column: 7/10;
    grid-row: controls/end;
    position: relative;
    transform: translate(0, 0);
    width: 95%;
  }
  
  .tetris-board {
    background: none;
    background-color: transparent;
    grid-column: 4/-1;
    grid-row: board/controls;
    transform: translate(5px, -20px);
    min-height: 385px;
    min-width: 240px;
  }

  .tetris__main-content {
    grid-column: 2/6;
    grid-row: board/controls;
    transform: translate(30px, -20px);
    margin: 0;
    position: relative;
  }

  .satellite {
    grid-row: 2;
    grid-column: 6;
    width: 112px;
    height: 75px;
    position: relative;
    transform: translate(0, -90px);
  }

  .rocket {
    grid-row: controls;
    grid-column: 11;
    transform: translate(-40px, 60px);
  }

  .toggle-switch.xlarge {
    transform: translate(-70px, 40px);
  }

  .main-container {
    height: 100vh;
    padding: 40px 0;
  }  

  .tetris__main-content--title {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .score {
    width: 60px;
    grid-row: start;
    grid-column: 10/11;
    transform: translate(0, 60px);
  }
}

@media (min-width: 2500px) {
  .cursor button {
    width: 45px;
    height: 50px;
  }

  button.cursor-next {
    width: 50px;
    height: 50px;
  }
}
